.chat_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.chat_side_bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat_user_image {
    width: 7%;
    height: auto;
    border-radius: 50%;
    margin-left: 2%;
}
.chat_item_image_box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2%;
}
.chat_item_image_wrapper {
    flex-direction: column;
    width: 20%;
    margin: 1vh 2%;
    text-decoration:none;
}
.chat_item_image_attribute {
    width: 100%;
}


.exhibit-form_user_picture_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 4vh;
    margin-left: 0%;
}
.exhibit-form_user_picture {
    width: 25%;
}
.exhibit-form_input_user_image {
    width:100%;
    height:4vh;
    display: flex;
    align-items: center;
    margin-left:20%;
    font-size: 12px;
    background-color:#fff;
    color:red;
}
