.index-form_mode_change_button_box {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 2px solid black;
}
.index-form_mode_recommend_button {
    width: 12%;
    margin-left: 8%;
    font-size: 20px;
    text-decoration:none;
    color:#000;
}
.index-form_mode_mypage_button {
    width: 15%;
    margin-left: 0%;
    font-size: 20px;
    text-decoration:none;
    color:#000;
}
.index-form_image_box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2%;
}
.index-form_image_wrapper {
    flex-direction: column;
    width: 22%;
    margin: 1%;
    text-decoration:none;
    color:black;
}
.index-form_image_attribute {
    width: 100%;

}
