body {
    font-family: "Gothic"; /*"MS Mincho", "MingLiU", "Hiragino Mincho Pro", serif; /* 明朝体のフォントファミリー */
}
.frea-market_header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.frea-market_header_logo {
    width: 22%;
    margin-left: 2%;

    /* オリジナルロゴサイス
    　　236.98 × 80     */
}
.frea-market_header_input_key {
    width: 35%;
    height: 5vh;
    margin-left: 10%;
    margin-right: 8%;
    font-size: 18px;
    border-radius: 5px;
}
.frea-market_header_link {
    width: 100px;
    color: #fff;
    font-size: 17px;
    font-family: "Gothic";
    margin-right: 1.5%;
}
.frea-market_header_button_to_exhibit {
    width: 7%;
    height: 5vh;
    background-color: #fff;
    color: #000;
    margin-right: 1%;
    border-radius: 5px;
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items:center;


}

